.ProductDetails {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  display: flex;

  .Carousel {
    width: 14vmax;

    button {
      width: 3vmax;
      height: 3vmax;
    }

    .CarouselImage {
      width: 14vmax;
    }
  }

  .block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmax;
    border: 1px solid white;

    .submitReview {
      border: none;
      background-color: tomato;
      font: 500 1.1vmax "Roboto";
      border-radius: 20px;
      padding: 0.6vmax 2vmax;
      margin: 1vmax 0;
      color: white;
      cursor: pointer;
      transition: all 0.5s;
      outline: none;
    }

    .submitReview:hover {
      background-color: rgb(197, 68, 45);
      transform: scale(1.1);
    }
  }

  .mod {
    align-items: flex-start;
  }

}

.detailsBlock-1 {
  h2 {
    color: rgb(54, 54, 54);
    font: 600 1.6vmax "Roboto";
  }

  p {
    color: rgba(54, 54, 54, 0.582);
    font: 200 0.6vmax cursive;
  }
}


.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 70%;
  padding: 1vmax 0;

  span {
    font: 200 0.8vmax cursive;
    color: rgba(0, 0, 0, 0.699);
  }
}


.detailsBlock-3 {
  width: 70%;

  h1 {
    color: rgba(17, 17, 17, 0.795);
    font: 400 1.8vmax "Franklin Gothic Medium";
    margin: 1vmax 0;
  }

  p {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    color: rgba(0, 0, 0, 0.651);
    font: 400 1vmax "Roboto";
    margin: 1vmax 0;
  }

  .detailsBlock-3-1 {
    display: flex;
    align-items: center;
    @media screen and (max-width: 780px) {
      flex-direction: column;
    }

    button {
      border: none;
      background-color: rgba(0, 0, 0, 0.616);
      padding: 0.5vmax;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }

    .button-last {
      border: none;
      cursor: pointer;
      color: white;
      transition: all 0.5s;
      background-color: tomato;
      font: 500 1.1vmax "Roboto";
      border-radius: 20px;
      padding: 0.5vmax 2vmax;
      margin: 1vmax;
      outline: none;
      @media screen and (max-width: 960px) {
        font: 500 1.0vmax "Roboto";
      }
    }

    .button-last:hover {
      background-color: rgb(214, 84, 61);
    }

    .detailsBlock-3-1-1 {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        padding: 0.5vmax;
        text-align: center;
        font: 400 0.8vmax "Roboto";
        color: rgba(0, 0, 0, 0.74);
        width: 30px;
        height: 30px;
        font-size: 12px;
      }

      button {
        border: none;
        background-color: rgba(0, 0, 0, 0.616);
        padding: 0.5vmax;
        color: white;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.detailsBlock-4 {
  color: rgba(0, 0, 0, 0.897);
  font: 500 1.2vmax sans-serif;

  p {
    color: rgba(0, 0, 0, 0.534);
    font: 300 0.8vmax sans-serif;
  }
}


.submitDialog {
  display: flex;
  flex-direction: column;

  .submitDialogTextArea {
    border: 1px solid rgba(0, 0, 0, 0.082);
    margin: 1vmax 0;
    outline: none;
    padding: 1rem;
    font: 300 1rem "Roboto";
  }
}

.reviewsHeading {
  color: #000000be;
  font: 500 1.4vmax "Roboto";
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding: 1vmax;
  width: 20vmax;

}

.reviews {
  display: flex;
  overflow: auto;
}

.noReviews {
  font: 400 1.3vmax "Gill Sans";
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
}

@media screen and (max-width: 600px) {
  .ProductDetails {
    flex-direction: column;
    height: unset;

    .mod {
      align-items: center;
    }
  }


  .detailsBlock-1 {
    h2 {
      font-size: 2.8vmax;
      text-align: center;
    }
  }

  .detailsBlock-1 {
    p {
      text-align: center;
      font-size: 1vmax;
    }
  }

  .detailsBlock-2 {
    justify-content: center;

    span {
      font-size: 1.5vmax;
    }
  }

  .detailsBlock-3 {
    h1 {
      font: 700 3vmax "Franklin Gothic Medium";
      text-align: center;
    }
  }

  .detailsBlock-3-1 {
    flex-direction: column;

    .detailsBlock-3-1-1 {
      padding: 2vmax 0;

      button {
        padding: 1.0vmax;
        width: 4vmax;
      }
    }
  }


  .detailsBlock-3 {
    p {
      padding: 2.5vmax 0;
      text-align: center;
      font: 400 2vmax "Roboto";
    }
  }

  .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;

    p {
      font: 300 1.8vmax sans-serif;
    }
  }
  .reviewsHeading {
    font: 500 1.7vmax "Roboto";
  }
  .noReviews {
    font: 400 1.5vmax "Gill Sans"
  }

  .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

}

@media screen and (max-width: 960px) {
  .button-last {
    font: 500 0.9vmax "Roboto";
  }

}